.tessaport {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
  gap: .3rem;
  & img {
    height: 70%;
    position: absolute;
    z-index: -1;
    .light & {
      filter: invert(0);
      opacity: .3;
    }
    .dark & {
      filter: invert(1);
      opacity: .2;
    }
  }
  & a {
    color: var(--group);
    text-shadow: var(--shadow-b2);
    font-size: var(--fs-small);
    & i {
      color: inherit!important;
    }
  }
  & strong {
    font: normal calc(var(--fs-h0) - 5rem) var(--f-deco);
    line-height: 100%;
    text-transform: lowercase;
    color: transparent !important;
    text-shadow: 2px 2px 0px var(--group-75);
    -webkit-text-stroke: .5px var(--title-img);
  }
  & em {
    font: var(--fs-logo3) var(--f-mono);
    letter-spacing: .3em;
    line-height: 1em;
    color: var(--subtitle);
    text-shadow: var(--shadow-b2);
    text-transform: uppercase;
  }
}
.tessadatos {
  & h4 {
    margin-top: 0px;
    margin-bottom: 0rem;
    text-transform: uppercase;
    font: var(--fset-titles5);
    color: var(--subtitle);
    line-height: 100%;
    &:last-of-type {
      margin-top: 1rem;
    }
  }
}
