#darcysig {
  width: 280px;
  height: 180px;
  margin: 0 auto;
  border-top: var(--border2);
  border-bottom: var(--border2);
  position: relative;
  box-sizing: content-box;
  overflow: hidden;
}

#darcysig * {
  box-sizing: border-box;
  transition: 0.7s;
}

#darcysig:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  border: 10px solid #101010;
  box-sizing: border-box;
}

#darcysig .darsimg {
  width: 100%;
  height: 100%;
  background-image: url('https://i.imgur.com/MaIuytI.png');
  position: absolute;
  z-index: 0;
  transition-delay: 1.4s;
}

#darcysig:hover .darsimg {
  filter: grayscale(1) brightness(0.4);
  transition-delay: 0s;
}

#darcysig .darstxt {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition-delay: 0.7s;
}

#darcysig:hover .darstxt {
  opacity: 1;
  transition-delay: 0.7s;
}

#darcysig .darstxt>em {
  position: relative;
  width: 140px;
  height: 140px;
  background: var(--group);
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  filter: blur(14px);
  opacity: 0.4;
}

#darcysig .darstxt>em:before {
  content: "";
  width: 200%;
  height: 200%;
  border-radius: 100%;
  box-sizing: content-box;
  position: absolute;
  z-index: 1;
  background: var(--group);
  animation: pulse-ring 1.4s infinite;
}

#darcysig .darstxt>b {
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  color: transparent!important;
  font: italic 900 19px 'Be Vietnam Pro', sans-serif;
  letter-spacing: -1.5px;
  word-spacing: 3px;
  line-height: 95% !important;
  -webkit-text-stroke: 0.7px var(--txt1);
  transition-delay: 0;
}

#darcysig:hover .darstxt>b {
  text-shadow: 0px 17px 0px #ffffffd9, 0px -17px 0px #ffffffd9, 0px 33px 0px #ffffffa6, 0px -33px 0px #ffffffa6, 0px 49px 0px #ffffff73, 0px -49px 0px #ffffff73, 0px 65px 0px #ffffff40, 0px -65px 0px #ffffff40, 0px 81px 0px #ffffff1a, 0px -81px 0px #ffffff1a;
  transition-delay: 1.4s;
}

@keyframes pulse-ring {
  0% {
    transform: scale(.50);
    filter: blur(1px);
  }
  80%, 100% {
    opacity: 0;
    filter: blur(4px);
  }
}
