.trolm.melinda {
  --group: #544171;
}
.trolm .tabhead > b {
  font: 900 52px 'Antonio' !important;
  margin-bottom: 7px;
  line-height: 80%!important;
  -webkit-text-stroke: 0px;
  color: var(--group)!important;
  opacity:0.15;
  top: -7px;
}
.trolm .tabhead {
  margin-bottom: 12px;
}
.trolm .tabtext {
  font-size: var(--fs-body2);
}
.trolm .tabhead > span > b {
  color: var(--subtitle) !important;
  text-decoration: 1px solid underline var(--group);
  text-underline-offset: 3px;
  font: 900 var(--fs-h5) var(--f-body);
}
.trolm .tabhead > span > i {
  margin-top: 2px;
  font: 700 9px 'Inconsolata';
  letter-spacing: 1px;
  line-height: 120%;
  color: #aaa!important;
}
.trolm .tabhead > span > i > i {
  color: var(--group);
}
.trolm .tabdata {
  font: 700 10px 'Inconsolata';
  letter-spacing: 1px;
  line-height: 120%;
  color:#aaa!important;
  margin-top: 24px;
}
.tabrol.trolm .tabhead {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.tabrol.trolm .tabhead>b {
  letter-spacing: ;
  left: unset;
  top: unset;
}
.trolm .tabtext u {
  text-decoration: 1px solid underline var(--group);
  color: #ccc;
  text-underline-offset: 2px;
}
.trolm .tabtext strike {
  text-decoration: 1px solid line-through var(--group);
  color: #ccc;
}
/* CALCULOS */
#melindacalculations > br, #melindacalculations > div:nth-of-type(2) > br {
  display: none !important;
}
#melindacalculations>div {
  margin: 0 !important;
}
#melindacalculations {
  gap: 40px;
}
#melindacalculations > div:nth-of-type(2) > blockquote {
  height: 100%;
  box-sizing: border-box;
  background: var(--tbckg2);
  padding: 20px;
}
#melindacalculations > div:nth-of-type(2) {
  align-self: stretch;
}
