.trolm.melinda .tabhead > b {
  font: 900 52px 'Antonio' !important;
  margin-bottom: 7px;
  line-height: 80%!important;
  -webkit-text-stroke: 0px;
  color: var(--group)!important;
  opacity:0.15;
  top: -7px;
}
.trolm.melinda .tabhead {
  margin-bottom: 12px;
}
.trolm.melinda .tabtext {
  font-size: var(--fs-body2);
}
.trolm.melinda .tabhead > span > b {
  color: var(--subtitle) !important;
  text-decoration: 1px solid underline var(--group);
  text-underline-offset: 3px;
  font: 900 var(--fs-h5) var(--f-body);
}
.trolm.melinda .tabhead > span > i {
  margin-top: 2px;
  font: 700 9px 'Inconsolata';
  letter-spacing: 1px;
  line-height: 120%;
  color: #aaa!important;
}

.trolm.melinda .tabhead > span > i > i {
  color: var(--group);
}
